<% if @list.photo.attached? %>
  <div class="hero-show"
  style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,1)), url('<%= cl_image_path @list.photo.key, crop: :fill %>')">
    <nav class="nav-show">
      <%= link_to "moviz", root_path, class: "mx-4" %>
    </nav>
    <div class="list-name">
      <h1 class="list-name my-4"><%= @list.name %></h1>
    </div>
  </div>
<% else %>
  <div>
    <h1 class="my-4"><%= @list.name %></h1>
  </div>
<% end %>

<div class="container">
  <%= link_to "Delete this list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-secondary" %>
  <div class="row align-items-start">
    <div class="col-9">
      <div class="cards">
      <% @list.movies.each do |movie| %>
        <div class="card-custom mx-4">
          <%= image_tag(movie.poster_url) %>
          <div class="lower-card">
            <%= movie.title %>
            <%= link_to "Delete", list_bookmark_path(@list, @list.bookmarks.find_by(movie: movie)), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-3 card-form">
    <h3 class="my-4">Add a movie to this list</h3>
      <%= simple_form_for [ @list, @bookmark ] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit "Add movie to list", class:"btn btn-hero" %>
      <% end %>
    </div>
  </div>
</div>
